<div class="fixed w-screen top-0 z-50 bg-white" style="height: 60px">
  <div
    class="container h-full mx-auto flex flex-row justify-between items-center px-4"
  >
    <div>
      <img src="/assets/images/logo.svg" alt="Logo" style="height: 40px" />
    </div>

    <ng-container *ngIf="!(isSmallScreen | async).matches">
      <ul class="flex flex-row text-sm">
        <li class="mr-6">
          <button (click)="emit('hakkimizda')">Hakkımızda</button>
        </li>
        <li class="mr-6">
          <button (click)="emit('hizmet')">Hizmetlerimiz</button>
        </li>
        <li class="mr-6">
          <button (click)="emit('referans')">Referanslarımız</button>
        </li>
        <li><button (click)="emit('end')">İletişim</button></li>
      </ul>
    </ng-container>

    <ng-container *ngIf="(isSmallScreen | async).matches">
      <button (click)="mobileNavVisible = !mobileNavVisible">
        <img
          src="/assets/images/menu.svg"
          alt="Navigasyon Menüsü"
          style="height: 16px"
        />
      </button>
    </ng-container>
  </div>
</div>
<div style="height: 60px"></div>

<!-- ------------------------- Dropdown navigation ------------------------- -->
<ng-container *ngIf="(isSmallScreen | async).matches">
  <div
    class="fixed bg-white z-50 shadow-lg overflow-hidden"
    style="
      top: 60px;
      right: 1rem;
      border-bottom-left-radius: 1rem;
      border-bottom-right-radius: 1rem;
      transition: max-height 0.4s;
    "
    [ngClass]="mobileNavVisible ? 'open' : 'close'"
  >
    <ul class="flex flex-col text-sm text-right py-2">
      <li class="py-2 px-4">
        <button (click)="emit('hakkimizda')">Hakkımızda</button>
      </li>
      <li class="py-2 px-4">
        <button (click)="emit('hizmet')">Hizmetlerimiz</button>
      </li>
      <li class="py-2 px-4">
        <button (click)="emit('referans')">Referanslarımız</button>
      </li>
      <li class="py-2 px-4">
        <button (click)="emit('iletisim')">İletişim</button>
      </li>
    </ul>
  </div>
  <div
    *ngIf="mobileNavVisible"
    class="fixed w-screen h-full left-0 right-0 bottom-0 z-40 bg-transparent"
    style="top: 60px"
    (click)="mobileNavVisible = false"
  ></div>
</ng-container>
